<section id="quienes-somos" class="w-full py-5 md:py-24 lg:py-32 bg-muted">
  <div class="container px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center">
      <div class="space-y-2">
        <div class="inline-block rounded-lg bg-muted px-3 py-1 text-sm">
          Quienes Somos
        </div>
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
          Sobre Nuestra Agencia
        </h2>
        <p
          class="max-w-[600px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          Somos un equipo de expertos en desarrollo web, diseño y optimización
          SEO. Nos apasiona crear soluciones a medida para nuestros clientes.
        </p>
      </div>
      <div class="containerImg">
        <img src="/images/Nosotros.jpg" alt="Agencia Web" />
      </div>
    </div>
  </div>
</section>

<style>
  .containerImg {
    display: flex;
    margin: 2rem;
    width: 85vw;
    height: auto;
    align-items: center;
  }
  .containerImg img {
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
</style>
