<p class="text-xl">© 2024 LautaroDevelopers. Todos los derechos reservados.</p>
<nav class="sm:ml-auto flex gap-4 sm:gap-6">
  <a href="mailto:lautaroledesma@televisionalternativa.com.ar" target="_blank"
    >Email</a
  >
  <a href="https://www.instagram.com/lautarodevelopers/" target="_blank"
    >Instagram</a
  >
  <a
    href="https://www.facebook.com/profile.php?id=61552221073496"
    target="_blank">Facebook</a
  >
  <a
    href="https://api.whatsapp.com/send?phone=5492634723533&text=Hola%20me%20contacto%20desde%20la%20web%20de%20LautaroDevelopers"
    target="_blank">WhatsApp</a
  >
</nav>
