<section id="inicio" class="w-full py-12 md:py-24 lg:py-32">
  <div class="container px-4 md:px-6">
    <div
      class="grid gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_550px]">
      <div class="flex flex-col justify-center space-y-4">
        <div class="space-y-2">
          <h1
            class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
            LautaroDevelopers <br /> Agencia de Desarrollo Web
          </h1>
          <p class="max-w-[600px] text-muted-foreground md:text-xl">
            Somos una agencia de desarrollo web que ofrece soluciones a medida
            para nuestros clientes. Nuestro equipo de expertos se encarga de
            todo, desde el diseño hasta el desarrollo y la optimización.
          </p>
        </div>
        <a
          href="mailto:lautaroledesma@televisionalternativa.com.ar"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-8 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
          Contáctanos
        </a>
      </div>
      <img
        src="/images/Portfolio.svg"
        width="550"
        height="310"
        alt="LautaroDevelopers"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full lg:order-last"
      />
    </div>
  </div>
</section>
