<section id="servicios" class="w-full py-12 md:py-24 lg:py-32 bg-muted">
    <div class="container px-4 md:px-6">
      <div
        class="flex flex-col items-center justify-center space-y-4 text-center">
        <div class="space-y-2">
          <div class="inline-block rounded-lg bg-muted px-3 py-1 text-sm">
            Nuestros Servicios
          </div>
          <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
            Diseño, Desarrollo y Optimización
          </h2>
          <p
            class="max-w-[600px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
            Ofrecemos una amplia gama de servicios para ayudar a nuestros clientes
            a alcanzar sus objetivos en línea.
          </p>
        </div>
      </div>
      <div
        class="mx-auto grid max-w-5xl items-center gap-6 py-12 lg:grid-cols-2 lg:gap-12">
        <div class="flex flex-col justify-center space-y-4">
          <ul class="grid gap-6">
            <li>
              <div class="grid gap-1">
                <h3 class="text-xl font-bold">Diseño Web</h3>
                <p class="text-muted-foreground">
                  Creamos diseños atractivos y funcionales que reflejan la
                  identidad de tu marca.
                </p>
              </div>
            </li>
            <li>
              <div class="grid gap-1">
                <h3 class="text-xl font-bold">Desarrollo Web</h3>
                <p class="text-muted-foreground">
                  Construimos sitios web y aplicaciones web a medida, utilizando
                  las últimas tecnologías.
                </p>
              </div>
            </li>
            <li>
              <div class="grid gap-1">
                <h3 class="text-xl font-bold">Optimización SEO</h3>
                <p class="text-muted-foreground">
                  Optimizamos tu sitio web para mejorar su visibilidad en los
                  motores de búsqueda.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <img
          src="/images/Responsive.svg"
          width="550"
          height="310"
          alt="Servicios"
          class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full lg:order-last"
        />
      </div>
    </div>
  </section>
  